div(ng-controller="RideListCtrl")
  h2 Available Rides

  div#messages.alert.alert-success(ng-show="success") {{success}}
  div#messages.alert.alert-danger(ng-show="fail") {{fail}}

  form(name="filter_form", role="form")
    div(class="form-group")
      label(for="startLocation") Filter rides by starting location.
      input.form-control(ng-model="rideFilter.startLocation", id="startLocation", type="text", placeholder="University of Illinois at Urbana-Champaign")
    div(class="form-group")
      label(for="endLocation") Filter rides by ending location.
      input.form-control(ng-model="rideFilter.endLocation", id="endLocation", type="text", placeholder="University of Illinois at Urbana-Champaign")
    div(class="form-group")
      label(for="price") Filter rides by price.
      select.form-control(ng-model="rideByPrice", ng-options="ride.seatPrice for ride in rides", id="price")

    label Filter rides by departure date.
    div.row.form-group
      div.col-md-6
        p.input-group
          input.form-control(type='text', 
            datepicker-popup='{{format}}', 
            ng-model='dt', 
            is-open='opened', 
            datepicker-options='dateOptions', 
            close-text='Close')
          span.input-group-btn
            button.btn.btn-default(ng-click='open($event)')
              i.glyphicon.glyphicon-calendar

      table.table.table-bordered.table-hover
        tr
          th(ng-click="predicate = 'startLocation'; reverse=!reverse") Start Location
          th(ng-click="predicate = 'endLocation'; reverse=!reverse") End Location
          th(ng-click="predicate = 'seats'; reverse=!reverse") Seats Available
          th(ng-click="predicate = 'seatPrice'; reverse=!reverse") Price per Seat
          th(ng-click="predicate = 'departureTime'; reverse=!reverse") Departure Time
          th(ng-click="predicate = 'email'; reverse=!reverse") Contact Email
          th Signup
          th Ride Details
        tr(ng-repeat="ride in rides | orderBy:predicate:reverse | filter:rideFilter | filter:dateFilter | maxPrice:rideByPrice")
          td {{ride.startLocation}}
          td {{ride.endLocation}}
          td {{ride.seats}}
          td ${{ride.seatPrice}}
          td {{ride.departureTime | date:"MMM dd, yyyy hh:mm a"}}
          td
            a(href="/user/{{ride.email.substring(0, ride.email.indexOf('@'))}}") {{ride.email}}
          td
            button.btn.btn-info(ng-click="openModal(ride.id)") Signup
          td
            button.btn.btn-warning(ng-click="goToRide(ride.id)") Go To Ride
